<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Nestor Blog</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Nestor Torres</li><li><a class="u-email" href="mailto:nestor@nntorres.com">nestor@nntorres.com</a></li></ul>
       
        </div>

        
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/Nanjuan"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">Nanjuan</span></a></li><li><a href="https://www.twitter.com/N3S_sec"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">N3S_sec</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        </div>
    
      </div>
  
    </div>
  
  </footer>