---
---

// Color Scheme is: 
//F4F4F2
//E8E8E8
//BBBFCA
//495464

@import "minima";

body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(0, 0, 0);
  background-color: #495464;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #ffffff;
  line-height: 1.5;
}

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

.footer-heading {
  color: #e8e8e8;
  font-size: 18px;
  margin-bottom: 15px;
}

.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
    font-size: xx-large;
  }

a {
    color: #000000;
    text-decoration: none;
}

.post-link {
  color: #1756a9;;
  display: block;
  font-size: 24px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #ffffff;
  padding-right: 5px;
  vertical-align: text-top;
}

.username {
  color:rgb(255, 255, 255)
}

.u-email {
  color:rgb(255, 255, 255)
}

.post-description {
    font-size: $small-font-size;
    color: #495464;
    padding-top: 1px;
    padding-bottom: 1px;
  }

.twitter-box {
    border: solid #828282 2px;
  }

.introductionToBlog{
  font-size: medium;
  color: black;
}

.paddingBox {
  background-color: #E8E8E8;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 0px, 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-bottom:5px solid #495464
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  background-color: #F4F4F2;
}

.contact-list, .social-media-list {
  color: rgb(255, 255, 255);
  list-style: none;
  margin-left: 0;
}

.footer-col-3 {
  color: white;
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

